.personalizacion {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    background-image: url("img/fotoprincipal.jpg");
}


/* Estilos para el formulario de personalización */
.personalizacion form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.personalizacion h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.personalizacion label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.personalizacion select,
.personalizacion input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.personalizacion input[type="file"]{
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.personalizacion input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.personalizacion input[type="submit"]:hover {
    background-color: #0056b3;
}

.tamaño_opcion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    /* Espacio entre las opciones de tamaño */
}